<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CronExpressionDescriptor" version="1.21.0" targetFramework="net45" />
  <package id="LibLog" version="1.5.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Pairwise" version="1.0.1" targetFramework="net45" />
  <package id="ncrontab" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="StackTraceFormatter.Source" version="1.1.0" targetFramework="net45" />
  <package id="StackTraceParser.Source" version="1.2.0" targetFramework="net45" />
</packages>