@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Globalization
@inherits WebTemplateBase
              
@{
    Layout = new LayoutPage()
        {
            Context = Context,
            Title = "Dashboard"
        };
}

<div id="realtime"></div>