@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Globalization
@inherits WebTemplateBase
              
@{
    Layout = new LayoutPage() { Context = Context };
}

<div class="container">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label label-success pull-right">4,865,144</span>
                Completed
            </li>
            <li class="list-group-item">
                <span class="label label-danger pull-right">422,133</span>
                Failed
            </li>
            <li class="list-group-item">
                <span class="label label-warning pull-right">143</span>
                Processing
            </li>
            <li class="list-group-item">
                <span class="label label-primary pull-right">
                    @String.Format("{0:n0}", Storage.ScheduledCount())
                </span>
                Scheduled
            </li>
            <li class="list-group-item">
                <span class="label label-default pull-right">
                    @String.Format("{0:n0}", Storage.EnqueuedCount())
                </span>
                Enqueued
            </li>
        </ul>
        
        <label>Test jobs</label>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go</button>
            </span>
        </div>
    </div>
    <div class="col-md-9">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>
