# Auto detect text files and perform LF normalization
* text=auto
###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.tt eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.cshtml eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.css    eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.xml    eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.bat	 eol=lf working-tree-encoding=UTF-8 encoding=utf-8	
*.ps1    eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.nuspec eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.js     eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.json   eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.sql    eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.props    eol=lf working-tree-encoding=UTF-8 encoding=utf-8

# Documentation
*.md           eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.txt          eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.manifest     eol=lf working-tree-encoding=UTF-8 encoding=utf-8
COPYING        eol=lf working-tree-encoding=UTF-8 encoding=utf-8
LICENSE_ROYALTYFREE eol=lf working-tree-encoding=UTF-8 encoding=utf-8
LICENSE_STANDARD eol=lf working-tree-encoding=UTF-8 encoding=utf-8
NOTICES eol=lf working-tree-encoding=UTF-8 encoding=utf-8

# Configs
*.config       eol=lf working-tree-encoding=UTF-8 encoding=utf-8
.editorconfig  eol=lf working-tree-encoding=UTF-8 encoding=utf-8
.gitattributes eol=lf working-tree-encoding=UTF-8 encoding=utf-8
.gitignore     eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.yml          eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.yaml          eol=lf working-tree-encoding=UTF-8 encoding=utf-8
*.DotSettings  eol=lf working-tree-encoding=UTF-8 encoding=utf-8