# AppVeyor CI build file, https://ci.appveyor.com/project/odinserj/hangfire

# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

# Don't edit manually! Use `build.bat version` command instead!
version: 1.7.25-build-0{build}

image:
  - Visual Studio 2019
  - Ubuntu

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# environment variables
environment:
  BuildEnvironment: appveyor
  Hangfire_SqlServer_ConnectionStringTemplate: Server=.\SQL2017;Database={0};User Id=sa;Password=Password12!
  DOCKER_USERNAME:
    secure: BDjid/SqKs9YCA39j55dIg==
  DOCKER_PASSWORD:
    secure: 5QtoskttMBDkXfFyFZSLhZIlUfsDUDgkCS9jy7rUM6ROPeRytpzEdkIXA5UNNV9K

# enable service required for tests
services:
  - mssql2017

pull_requests:
  do_not_increment_build_number: true

shallow_clone: true

#---------------------------------#
#       build configuration       #
#---------------------------------#

# Installing MSMQ manually to avoid "Cannot initialize 'msmq' service handler" error
build_script:
  - cmd: powershell Import-Module ServerManager; Add-WindowsFeature MSMQ; net start msmq
  - cmd: ./build.bat ci
  - sh: chmod +x build.sh; ./build.sh

#---------------------------------#
#       tests configuration       #
#---------------------------------#

test: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: 'build\**\*.nupkg'
  - path: 'build\**\*.zip'

#---------------------------------#
#      deployment configuration   #
#---------------------------------#

deploy:
  - provider: NuGet
    skip_symbols: true
    api_key: 
      secure: uvwcHGQKqfNR+XJ5RzSA9yTrtMCH5HWbWLeIYVnq+9kQPYmOniTiNINd9zGBhqqi
    on:
      appveyor_repo_tag: true

notifications:
  - provider: Slack
    incoming_webhook:
      secure: bqJhjmwwsSMJ/8imZJBOOtwbsNF51p24M8HZlIx1+asIHHUhXWHrP9vkuOPK3OnqNopmloLOOBoaEpYAkClkDuEC61a5Go5NY9KSSB9UMjk=
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: true
