# AppVeyor CI build file, https://ci.appveyor.com/project/odinserj/hangfire

# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

# Please don't edit it manually, use the `build.bat version` command instead.
version: 1.8.22-build-0{build}

image:
  - Visual Studio 2022
  - Ubuntu2004

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# environment variables
environment:
  Hangfire_SqlServer_ConnectionStringTemplate: Server=.\SQL2017;Database={0};User Id=sa;Password=Password12!;TrustServerCertificate=True;PoolBlockingPeriod=NeverBlock
  SIGNPATH_API_TOKEN:
    secure: nvG+jv/K3utFvpHGx/N6Glpv0Wdj0wfBSl8c/tkHbn2AIwGcNe2e4VSOkod7xVpC
  COVERITY_TOKEN:
    secure: r3yBqxgALySnCK9W6uiStqoadsqYtrWQolzxGDVKF74=
  COVERITY_EMAIL:
    secure: wf51HXCiUYxuTe+eo3uQOxqyptSLrH4IEqq0958Rmx8=

# enable service required for tests
services:
  - mssql2017

#---------------------------------#
#       build configuration       #
#---------------------------------#

# Installing MSMQ manually to avoid "Cannot initialize 'msmq' service handler" error
before_build:
  - cmd: powershell Import-Module ServerManager; Add-WindowsFeature MSMQ; net start msmq
  - pwsh: Install-PSResource -Name SignPath -TrustRepository
  - sh: nuget locals all -clear

build_script:  
  - pwsh: IF ($IsWindows -and ($env:APPVEYOR_SCHEDULED_BUILD -or $env:APPVEYOR_REPO_COMMIT_MESSAGE -like "*covscan*")) { .\coverity-scan.ps1 }
  - cmd: IF NOT DEFINED APPVEYOR_SCHEDULED_BUILD build.bat sign
  - sh: chmod +x build.sh; ./build.sh

#---------------------------------#
#       tests configuration       #
#---------------------------------#

test: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: 'build\**\*.nupkg'
  - path: 'build\**\*.zip'

#---------------------------------#
#      deployment configuration   #
#---------------------------------#

deploy:
  - provider: NuGet
    api_key: 
      secure: Dosrx2t2k8Wd3ztWs02lY7Bg32Z1CeR7AJcth2CZORXqBwtzMLbYKRIR4hUkmYLk
    on:
      appveyor_repo_tag: true
