<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0-beta001" targetFramework="net45" />
  <package id="Moq" version="4.6.36-alpha" targetFramework="net45" />
  <package id="Moq.Sequences.NoNUnit" version="1.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="ncrontab" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net45" />
  <package id="xunit" version="2.2.0-beta2-build3300" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.1-rc2" targetFramework="net45" />
  <package id="xunit.assert" version="2.2.0-beta2-build3300" targetFramework="net45" />
  <package id="xunit.core" version="2.2.0-beta2-build3300" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.2.0-beta2-build3300" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.2.0-beta2-build3300" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.2.0-beta2-build1149" targetFramework="net45" developmentDependency="true" />
</packages> 