@model Snippet

<div class="source-code" data-snippet-id="@Model.Id" data-subscribe="@(Model.HighlightedSource == null)">
    @if (Model.HighlightedSource != null)
    {
        @Html.Raw(Model.HighlightedSource)
    }
    else
    {
        <p>
            <img src="~/Content/ajax-loader.gif"/>
            <em style="color: #777;text-decoration:none;">Highlighting source code...</em>
        </p>
        <pre><code>@Model.Source</code></pre>                                 
    }
</div>