/* Sticky footer styles
-------------------------------------------------- */

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
    /* 75px to make the container go all the way to the bottom of the topbar */
    padding-top: 75px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */

.container .credit {
  margin: 20px 0;
  word-break: break-word;
}

.page-header {
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-death {
    background-color: #777;
    border-color: #666;
    color: #fff;
}

.btn-death:hover {
    background-color: #666;
    border-color: #555;
    color: #fff;
}

.list-group .list-group-item .glyphicon {
    margin-right: 3px;
}

.breadcrumb {
    margin-bottom: 10px;
    background-color: inherit;
    padding: 0;
}

.btn-toolbar-label {
    padding: 7px 0;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

.btn-toolbar-label-sm {
    padding: 5px 0;
}

.btn-toolbar-spacer {
    width: 5px;
    display: inline-block;
    height: 1px;
}

a:hover .label-hover {
    background-color: #2a6496!important;
    color: #fff!important;
}

.expander {
    cursor: pointer;
}

.expandable {
    display: none;
}

.table-inner {
    margin-bottom: 7px;
    font-size: 90%;
}

.min-width {
    width: 1%;
    white-space: nowrap;
}

.width-15 {
    width: 15%;
}

.width-30 {
    width: 30%;
}

@media (max-width: 991px) {
    .width-30 { width: 15%; }
}

.align-right {
    text-align: right;
}

.table>tbody>tr.hover:hover>td, .table>tbody>tr.hover:hover>th {
    background-color: #f9f9f9;
}

.table>tbody>tr.highlight>td, .table>tbody>tr.highlight>th {
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.table>tbody>tr.highlight:hover>td, .table>tbody>tr.highlight:hover>th {
    background-color: #f6f2dd;
    border-color: #f5e8ce;
}

.word-break {
    word-break: break-all;
}

/* Statistics widget
-------------------------------------------------- */

#stats .list-group-item {
    border-color: #e7e7e7;
    background-color: #f8f8f8;
}

#stats a.list-group-item {
    color: #777;
}

#stats a.list-group-item:hover,
#stats a.list-group-item:focus {
    color: #333;
}

#stats .list-group-item.active,
#stats .list-group-item.active:hover,
#stats .list-group-item.active:focus {
    color: #555;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}

.table td.failed-job-details {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    background-color: #f5f5f5;
}

.obsolete-data, .obsolete-data a, .obsolete-data pre, .obsolete-data .label {
    color: #999;
}

.obsolete-data pre, .obsolete-data .label {
    background-color: #999;
    color: #fff;
}

.obsolete-data .glyphicon-question-sign {
    font-size: 80%;
    color: #999;
}

.stack-trace {
    padding: 10px;
    border: none;   
}

.st-type {
    font-weight: bold;
}

.st-param-name {
    color: #666;
}

.st-file {
    color: #999;
}

.st-method {
    color: #00008B;
    font-weight: bold;
}

.st-line {
    color: #8B008B;
}

.width-200 {
    width: 200px;
}

.btn-toolbar-top {
    margin-bottom: 10px;
}

.paginator .btn {
    color: #428bca;
}

.paginator .btn.active {
    color: #333;
}

/* Job Snippet styles */

.job-snippet {
    margin-bottom: 20px;
    padding: 15px;
    display: table;
    width: 100%;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.job-snippet > * {
    display: table-cell;
    vertical-align: top;
}

.job-snippet-code {
    vertical-align: top;
}

.job-snippet-code pre {
    border: none;
    margin: 0;
    background: inherit;
    padding: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
}

.job-snippet-code code {
    display: block; 
    color: black;
}

.job-snippet-code pre .comment {
    color: rgb(0, 128, 0);
}

.job-snippet-code pre .keyword {
    color: rgb(0, 0, 255);
}

.job-snippet-code pre .string {
    color: rgb(163, 21, 21);
}

.job-snippet-code pre .type {
    color: rgb(43, 145, 175);
}

.job-snippet-code pre .xmldoc {
    color: rgb(128, 128, 128);
}

.job-snippet-properties pre {
    background-color: inherit;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    padding: 2px 4px;
    border: none;
    margin: 0;
    overflow: hidden;
}

.job-snippet-properties code {
    color: rgb(163, 21, 21);
}

.alert-warning .table td {
    border-color: rgb(229, 220, 195);
}

.state-card {
    position: relative;
    display: block;
    margin-bottom: 7px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.state-card-title {
    margin-bottom: 0;
}

.state-card-title .pull-right {
    margin-top: 3px;
}

.state-card-text {
    margin-top: 5px;
    margin-bottom: 0;
}

.state-card h4 {
    margin-top: 0;
}

.state-card-body {
    padding: 10px;
    margin: 10px -12px -12px -12px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f5f5f5;
}

.state-card-body dl {
    margin-top: 5px;
    margin-bottom: 0;
}

.state-card-body dd {
    word-break: break-all;
}

.state-card-body pre {
    white-space: pre-wrap;       /* CSS 3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background: transparent;
    padding: 0;
}

.state-card-body .stack-trace {
    background-color: transparent;
    padding: 0 20px;
    margin-bottom: 0px;
}

.state-card-body .exception-type {
    margin-top: 0;
}

/* Job History styles */

.job-history {
    margin-bottom: 10px;
    opacity: 0.8;
}

.job-history.job-history-current {
    opacity: 1.0;
}

.job-history-heading {
    padding: 5px 10px;
    color: #666;
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -ms-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.job-history-body {
    background-color: #f5f5f5;
    padding: 10px;
}

.job-history-title {
    margin-top: 0;
    margin-bottom: 2px;
}

.job-history dl {
    margin-top: 5px;
    margin-bottom: 5px;
}

.job-history .stack-trace {
    background-color: transparent;
    padding: 0 20px;
    margin-bottom: 5px;
}

.job-history .exception-type {
    margin-top: 0;
}

.job-history-current .job-history-heading,
.job-history-current small {
    color: white;
}

a.job-method {
    color: inherit;    
}

.list-group .glyphicon {
    top: 2px;
}

span.metric {
    display: inline-block;
    min-width: 10px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: transparent;
    border-radius: 10px;
    border: solid 1px;
    -webkit-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -moz-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -ms-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -o-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
}

span.metric.highlighted {
    font-weight: bold;
    color: #fff!important;
}

span.metric-default {
    color: #777;
    border-color: #777;
}

span.metric-default.highlighted {
    background-color: #777;
}

div.metric {
    border: solid 1px transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 20px;
    transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
}

div.metric .metric-body {
    padding: 15px 15px 0;
    font-size: 26px;
    text-align: center;
}

div.metric .metric-description {
    padding: 0 15px 15px;
    text-align: center;
}

div.metric.metric-default {
    border-color: #ddd;
}

div.metric-info,
span.metric-info {
    color: #5bc0de;
    border-color: #5bc0de;
}

span.metric-info.highlighted {
    background-color: #5bc0de;
}

div.metric-warning,
span.metric-warning {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

span.metric-warning.highlighted {
    background-color: #f0ad4e;
}

div.metric-success,
span.metric-success {
    color: #5cb85c;
    border-color: #5cb85c;
}

span.metric-success.highlighted {
    background-color: #5cb85c;
}

div.metric-danger,
span.metric-danger {
    color: #d9534f;
    border-color: #d9534f;
}

span.metric-danger.highlighted {
    background-color: #d9534f;
}

span.metric-null,
div.metric-null {
    display: none;
}

@media (min-width: 992px) {
    #stats {
        position: fixed;
        width: 220px
    }
}

@media (min-width: 1200px) {
    #stats {
        width: 262.5px;
    }
}
