@* Generator: Template TypeVisibility: Internal *@
@using Pages
@using ServiceStack.Text
@inherits RazorPage
              
@{
    Layout = new LayoutPage { Title = "Dashboard" };
}

<h3>Realtime graph</h3>
<div id="realtime"></div>

<h3>History graph</h3>

@using (JsConfig.With(dateHandler: JsonDateHandler.ISO8601))
{
    <div id="history" 
         data-succeeded="@JsonSerializer.SerializeToString(JobStorage.HourlySucceededJobs())" 
         data-failed="@JsonSerializer.SerializeToString(JobStorage.HourlyFailedJobs())">
    </div>
}