@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Collections.Generic
@using Pages
@using ServiceStack.Text
@using HangFire.Storage
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Dashboard" };
    IDictionary<DateTime, long> succeeded = null;
    IDictionary<DateTime, long> failed = null;

    var period = Request.QueryString["period"]?? "day";
    if ("week".Equals(period, StringComparison.OrdinalIgnoreCase))
    {
        succeeded = JobStorage.Current.Monitoring.SucceededByDatesCount();
        failed = JobStorage.Current.Monitoring.FailedByDatesCount();
    } 
    else if ("day".Equals(period, StringComparison.OrdinalIgnoreCase))
    {
        succeeded = JobStorage.Current.Monitoring.HourlySucceededJobs();
        failed = JobStorage.Current.Monitoring.HourlyFailedJobs();
    }
}

<h3>Realtime graph</h3>
<div id="realtimeGraph"></div>

<h3>
    <div class="btn-group pull-right" style="margin-top: 2px;">
        <a href="?period=day" class="btn btn-sm btn-default @("day".Equals(period, StringComparison.OrdinalIgnoreCase) ? "active" : null)">
            Day
        </a>
        <a href="?period=week" class="btn btn-sm btn-default @("week".Equals(period, StringComparison.OrdinalIgnoreCase) ? "active" : null)">Week</a>
    </div>
    History graph
</h3>

@if (succeeded != null && failed != null)
{
    using (JsConfig.With(dateHandler: JsonDateHandler.ISO8601))
    {
    <div id="historyGraph" 
          data-succeeded="@JsonSerializer.SerializeToString(succeeded)" 
          data-failed="@JsonSerializer.SerializeToString(failed)">
    </div>
    }
}