@* Generator: Template TypeVisibility: Internal *@
@using Pages
@using ServiceStack.Text
@inherits RazorPage
              
@{
    Layout = new LayoutPage { Title = "Dashboard" };
}

<h3>Realtime graph</h3>
<div id="realtime"></div>

@{
    // TODO: get rid of this. We have no right to change the library globals.
    JsConfig.DateHandler = JsonDateHandler.ISO8601;
}

<h3>History graph</h3>
<div id="history" 
     data-succeeded="@JsonSerializer.SerializeToString(JobStorage.HourlySucceededJobs())" 
     data-failed="@JsonSerializer.SerializeToString(JobStorage.HourlyFailedJobs())">
</div>