@* Generator: Template TypeVisibility: Internal *@
@using HangFire.Web.Pages
@inherits WebTemplateBase
@{
    Layout = new LayoutPage()
        {
            Context = Context,
            Title = "Dispatchers"
        };
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Args</th>
            <th>Started</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dispatcher in Storage.Dispatchers())
        {
            <tr>
                <td>@dispatcher.Name</td>
                <td>@dispatcher.Type</td>
                <td><code>@dispatcher.Args</code></td>
                <td>@dispatcher.StartedAt</td>
            </tr>
        }
    </tbody>
</table>
