@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Linq
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "EnqueuedJobs" };
}

@foreach (var queue in JobStorage.EnqueuedJobs())
{
    <h3>@queue.QueueName</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Args</th>
                <th>Enqueued At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in queue.FirstJobs)
            {
                <tr>
                    <td>@HtmlHelper.JobType(job.Value.Type)</td>
                    <td><code>
                            @String.Join(", ", job.Value.Args.Select(x => String.Format("{0}: \"{1}\"", x.Key, x.Value)))
                        </code></td>
                    <td>@job.Value.EnqueuedAt</td>
                </tr>
            }
        </tbody>
    </table>
}
