@* Generator: Template TypeVisibility: Internal *@
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Processing Jobs" };
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Args</th>
            <th>Started</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in JobStorage.ProcessingJobs())
        {
            <tr>
                <td>@job.Value.ServerName</td>
                <td>@job.Value.Type</td>
                <td><code>@job.Value.Args</code></td>
                <td>@job.Value.StartedAt</td>
            </tr>
        }
    </tbody>
</table>
