@* Generator: Template TypeVisibility: Internal *@
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Processing Jobs" };
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Args</th>
            <th>Started</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in JobStorage.ProcessingJobs())
        {
            <tr>
                <td>@job.ServerName</td>
                <td>@job.Type</td>
                <td><code>@job.Args</code></td>
                <td>@job.StartedAt</td>
            </tr>
        }
    </tbody>
</table>
