@* Generator: Template TypeVisibility: Internal *@
@using Pages
@inherits RazorPage
              
@{
    Layout = new LayoutPage { Title = "Queues" };
}

<table class="table">
    <thead> 
        <tr>
            <th>Queue</th>
            <th>Length</th>
            <th>Servers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var queue in JobStorage.Queues())
        {
            <tr>
                <td>@queue.Name</td>
                <td>@queue.Length</td>
                <td>@string.Join(", ", queue.Servers)</td>
            </tr>
        }
    </tbody>
</table>