@* Generator: Template TypeVisibility: Internal *@
@using Pages
@inherits RazorPage
              
@{
    Layout = new LayoutPage { Title = "Schedule" };
    var scheduledJobs = HangFireApi.Schedule();
}

@if (scheduledJobs.Count == 0)
{
    <div class="alert alert-success">
        Нет ни одного запланированного задания.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Queue</th>
                <th>Args</th>
            </tr>
        </thead>
        @foreach (var job in scheduledJobs)
        {
            <tr>
                <td>@job.TimeStamp</td>
                <td>@job.Type</td>
                <td><span class="label label-primary">@job.Queue</span></td>
                <td><code>@job.Args</code></td>
            </tr>
        }
    </table>
}