@* Generator: Template TypeVisibility: Internal *@
@using HangFire.Web.Pages
@inherits WebTemplateBase
              
@{
    Layout = new LayoutPage()
        {
            Context = Context,
            Title = "Servers"
        };
}

<div class="alert alert-info">
    <p>
        Этот список показывает запущенные сервера: обрабатывающие задания. При запуске
        каждый сервер самостоятельно регистрирует себя: и начинает отображаться в этом
        списке. При корректной остановке он так же убирает себя из этого списка.
    </p>
    <p>
        Если остановка сервера не была произведена корректно, например, если процесс
        сервера был убит, либо на момент отключения отсутствовала связь с Redis,
        то он останется в этом списке до его следующего корректного отключения.
    </p>
</div>

@{
    var servers = Storage.Servers();
}

@if (servers.Count == 0)
{
    <div class="alert">
        Список серверов пуст. Фоновые задания не будут обрабатываться.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Queue</th>
                <th>Concurrency</th>
                <th>Started at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in servers)
            {
                <tr>
                    <td>@server.Name</td>
                    <td><span class="label label-primary">@server.Queue</span></td>
                    <td>@server.Concurrency</td>
                    <td>@server.StartedAt</td>
                </tr>
            }
        </tbody>
    </table>
}