@* Generator: Template TypeVisibility: Internal *@
@using HangFire.Web.Pages
@inherits WebTemplateBase
              
@{
    Layout = new LayoutPage()
        {
            Context = Context,
            Title = "Servers"
        };
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Queue</th>
            <th>Concurrency</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var server in Storage.Servers())
        {
            <tr>
                <td>@server.Name</td>
                <td>@server.Queue</td>
                <td>@server.Concurrency</td>
            </tr>
        }
    </tbody>
</table>