@* Generator: Template TypeVisibility: Internal *@
@using HangFire.Web.Pages
@inherits WebTemplateBase
@{
    Layout = new LayoutPage()
        {
            Context = Context,
            Title = "Workers"
        };
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Args</th>
            <th>Started</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var worker in HangFireApi.Workers())
        {
            <tr>
                <td>@worker.Name</td>
                <td>@worker.Type</td>
                <td><code>@worker.Args</code></td>
                <td>@worker.StartedAt</td>
            </tr>
        }
    </tbody>
</table>
