@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using Hangfire.Dashboard
@inherits RazorPage

<ol class="breadcrumb">
    <li><a href="@Url.Home()"><span class="glyphicon glyphicon-home"></span></a></li>
    @foreach (var item in Items)
    {
        <li><a href="@item.Value">@item.Key</a></li>
    }
    <li class="active">@Title</li>
</ol>