@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using Hangfire.Dashboard
@inherits RazorPage

<div id="errorAlert" class="alert alert-danger alert-fixed display-none" role="alert">
    <div class="container">
        <strong id="errorAlertTitle"></strong> 
        <span id="errorAlertMessage"></span>
    </div>
</div>