@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using Hangfire.Dashboard.Resources;
@inherits Hangfire.Dashboard.RazorPage

<div class="btn-group pull-right">
    <input type="search" class="form-control" id="paginator-filter" placeholder="Filter on..." data-href="@_pager.FilterUrl()" value="@_pager.Filter"/>
</div>

