@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using Hangfire.Dashboard.Resources;
@inherits Hangfire.Dashboard.RazorPage

<div class="btn-toolbar-spacer pull-right hidden-xs"></div>
<div class="input-group pull-right search-group">
    <input type="text" class="form-control search" placeholder="@Strings.Search_Search" aria-label="@Strings.Search_Search" aria-describedby="basic-addon2" value="@(_search)" autofocus onfocus="this.setSelectionRange(this.value.length,this.value.length);">
</div>
<div class="btn-toolbar-spacer pull-right hidden-xs"></div>
