/* Sticky footer styles
-------------------------------------------------- */

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 0 0px 20px;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
    margin-top: 0;
}

.glyphicon {
    top: 0px;
}

.btn .glyphicon {
    top: 1px;
}

.btn-death {
    background-color: #777;
    border-color: #666;
    color: #fff;
}

.btn-death:hover {
    background-color: #666;
    border-color: #555;
    color: #fff;
}

.list-group .list-group-item .glyphicon {
    margin-right: 3px;
}

.breadcrumb {
    margin-bottom: 10px;
    background-color: inherit;
    padding: 0;
}

.btn-toolbar-label {
    padding: 7px 0;
    vertical-align: middle;
    display: inline-block;
}

.btn-toolbar-label-sm {
    padding: 5px 0;
}

.btn-toolbar-spacer {
    width: 10px;
    display: inline-block;
    height: 1px;
}

.pre-args {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    border: none;
    margin: 0;
}

.expander {
    cursor: pointer;
}

.expandable {
    display: none;
}

.table-outer td {
    background: #f9f9f9;
}

.table-outer td.table-inner-wrapper {
    padding: 0;
    border-top: none;
}

.table-inner {
    margin-bottom: 7px;
    font-size: 90%;
}

.table-inner td {
    background-color: white;
}

/* Statistics widget
-------------------------------------------------- */

#stats .list-group-item {
    border-color: #e7e7e7;
    background-color: #f8f8f8;
}

#stats a.list-group-item {
    color: #777;
}

#stats a.list-group-item:hover,
#stats a.list-group-item:focus {
    color: #333;
}

#stats .list-group-item.active,
#stats .list-group-item.active:hover,
#stats .list-group-item.active:focus {
    color: #555;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}

#stats .stats-indent {
    padding-left: 36px;
}

.table td.failed-job-details {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    background-color: #f5f5f5;
}

.obsolete-data, .obsolete-data a, .obsolete-data pre, .obsolete-data .label {
    color: #999;
}

.obsolete-data pre, .obsolete-data .label {
    background-color: #f5f5f5;
}

.obsolete-data .glyphicon-question-sign {
    font-size: 80%;
    color: #999;
}

.stack-trace {
    padding: 10px;
    border: none;   
}

.st-type {
    font-weight: bold;
}

.st-param-name {
    color: #666;
}

.st-file {
    color: #999;
}

.st-method {
    color: #00008B;
    font-weight: bold;
}

.st-line {
    color: #8B008B;
}

.width-200 {
    width: 200px;
}

.btn-toolbar-top {
    margin-bottom: 10px;
}

.paginator .btn {
    color: #428bca;
}

.paginator .btn.active {
    color: #333;
}

.label-queue {
    text-transform: uppercase;
}

/* Job Snippet styles */

.job-snippet-header {
    margin-bottom: -1px;
    height: 29px;
}

.job-snippet-header .btn-xs {
    margin-top: 3px;
    padding: 0 10px;
    font-size: 14px;
    border-color: transparent;
}

.job-snippet-tab {
    display: inline-block;
    background-color: #eee;
    border: solid 1px #eee;
    color: #a5a5a5;
    border-bottom: none;
    padding: 3px 14px 4px;
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -ms-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.job-snippet-header .job-snippet-id {
    color: #888;
    -ms-text-shadow: 0 1px white;
    text-shadow: 0 1px white;
}

.job-snippet {
    display: table;
    width: 100%;
    border: solid 1px #eee;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -ms-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.job-snippet > * {
    display: table-cell;
    vertical-align: top;
}

.job-snippet pre {
    border: none;
    margin: 0;
    background: inherit;
    padding: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.job-snippet pre code {
    display: block; 
    color: black;
}

.job-snippet-code {
    vertical-align: top;
    padding: 14px 14px;
    background-color: #fcfcfc;
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.job-snippet-code .job-creation-date {
    color: #777;
}

.job-snippet pre .comment {
    color: rgb(0, 128, 0);
}

.job-snippet pre .keyword {
    color: rgb(0, 0, 255);
}

.job-snippet pre .string {
    color: rgb(163, 21, 21);
}

.job-snippet pre .type {
    color: rgb(43, 145, 175);
}

.job-snippet pre .xmldoc {
    color: rgb(128, 128, 128);
}

.job-snippet-properties {
    max-width: 300px;
    background-color: #f5f5f5;
    padding: 14px 10px;
    -ms-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.job-snippet-properties dl {
    margin: 0;
}

.job-snippet-properties dl dt {
    color: #999;
    text-shadow: 0 1px white;
    font-weight: normal;
}

.job-snippet-properties dl dd {
    margin-left: 20px;
    margin-bottom: 5px;
}

.job-snippet-properties pre {
    display: block;
    color: #c7254e;
    background-color: white;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    padding: 2px 4px;
}

/* Job History styles */

.job-history {
    margin-bottom: 10px;
}

.job-history-heading {
    padding: 5px 10px;
    color: #666;
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -ms-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.job-history-current .job-history-heading {
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.job-history-body {
    background-color: #f5f5f5;
    padding: 10px;
    -ms-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.job-history-title {
    margin-top: 0;
    margin-bottom: 2px;
}

.job-history dl {
    margin-top: 5px;
    margin-bottom: 5px;
}

.job-history .stack-trace {
    background-color: transparent;
    padding: 0 20px;
    margin-bottom: 5px;
}

.job-history .exception-type {
    margin-top: 0;
}

.job-history-current .job-history-heading,
.job-history-current small {
    color: white;
}