<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.69" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.69" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.69" targetFramework="net40" />
</packages>