<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7-Zip.CommandLine" version="9.20.0" />
  <package id="Hangfire.Build" version="0.1.3" />
  <package id="psake" version="4.4.1" />
  <package id="xunit.runners" version="1.9.2" />
  <package id="ilmerge" version="2.14.1208" />
</packages>