<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7-Zip.CommandLine" version="18.1.0" />
  <package id="Hangfire.Build" version="0.2.6" />
  <package id="ILRepack" version="2.0.16" />
  <package id="psake" version="4.4.1" />
  <package id="RazorGenerator.MsBuild" version="2.5.0" />
  <package id="xunit.runner.console" version="2.2.0" />
</packages>