<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.1.1308.2321" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.69" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.69" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.69" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>